h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0px 50px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 50%;
}

.ghost {
  background-color: gray;
  border-radius: 50%;
}

.board {
  border: 2px solid black;
  width: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  padding-top: 170px;
}

.normal {
  background-color: rgb(0, 247, 255);
  animation: normalFood 0.7s infinite alternate;
  border-radius: 50%;
}

.special {
  background-color: red;
  animation: specialFood 0.7s infinite alternate;
  border-radius: 50%;
}

@keyframes normalFood {
  from {
    box-shadow: 0px 0px 2px 2px rgb(77, 213, 231);
  }
  to {
    box-shadow: rgb(88, 88, 241);
  }
}

@keyframes specialFood {
  from {
    box-shadow: 0px 0px 4px 4px rgb(219, 148, 148);
  }
  to {
    box-shadow: 0px 0px 1px 1px red;
  }
}

#gameOverBoard {
  background-color: rgba(200, 200, 200, 0.4);
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  padding-top: 120px;
  position: absolute;
  top: 0;
  z-index: 1;
  border: 2px solid black;
  width: 50vw;
  height: 80vh;
  margin: 24vw;
  margin-top: -200vh;
}
