h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 50%;
}

.ghost {
  background-color: gray;
  border-radius: 50%;
}

.normal {
  background-color: rgb(0, 247, 255);
  border-radius: 50%;
}

.special {
  background-color: red;
  animation: specialFood 0.7s infinite alternate;
  border-radius: 50%;
}

@keyframes specialFood {
  from {
    box-shadow: 0px 0px 4px 4px rgb(219, 148, 148);
  }
  to {
    box-shadow: 0px 0px 1px 1px red;
  }
}
